.dashboard-btn {
    background-color: #457fd1;
    color: white;
    border-radius: 20px;
}
.dashboard-info-card{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(91, 88, 88, 0.1);
    
}
.dashbosrd-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card-group{
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}
.card-group .card{
    width: 330px;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.card .card-info{
    display: flex;
    flex-direction: column;
    color: #403c3c;
}
.card .card-info .card-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}
.card .card-info .card-value{
    font-size: 18px;
    font-weight: bold;
    color: #0047AB;
}