.reports-btn{
    background-color: #457fd1;
    color: white;
    border-radius: 20px;
}
.reports-management{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(91, 88, 88, 0.1);
}
.reports-title{
    font-size: 24px;
    margin-bottom: 30px;
}
.sub-title{
    font-size: 16px;
    color: #666666;
}

.reports-info-card{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.reports-title{
    font-size: 24px;
    margin-bottom: 30px;
}
.card-group{
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
}
.card-group .card{
    width: 455px;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.card .card-info{
    display: flex;
    flex-direction: column;
    color: #403c3c;
}
.card .card-info .card-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}
.card .card-info .card-value{
    font-size: 18px;
    font-weight: bold;
    color: #0047AB;
}
.top-sell-info{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
}
.top-sell-info .top-sell-title{
    font-size: 20px;
    margin-bottom: 20px;
}
.top-sell-card-group{
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.top-sell-card{
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
}
.top-number-card{
    font-size: 18px;
    color: #ffffff;
    background-color: #23569f;
    border-radius: 20%;
    padding: 15px 15px;
    font-weight: bold;
    margin-right: 20px;
}
.top-sell-card-item-name{
    font-size: 18px;
    margin-right: auto;
    color: #403c3c;
    margin-bottom: 10px;
}
.top-sell-card-item-sales{
    font-size: 14px;
    color: #403c3c;
}
.daily-sale-info{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
}
.daily-sale-info .daily-sale-title{
    font-size: 20px;
    margin-bottom: 20px;
}
.daily-sale-card-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.daily-sale-card{
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.daily-sale-date{
    font-size: 18px;
    margin-bottom: 5px;
}
.daily-sale-orders{
    font-size: 15px;
    color: #403c3c;
}
.daily-sale-amount{
    font-size: 18px;
    font-weight: bold;
    color: #0047AB;
    margin-top: 10px;
}
