.staff-btn{
    background-color: #457fd1;
    color: white;
    border-radius: 20px;
}
.staff-management{
    width: 95%;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.staff-management .staff-title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 15px;
    padding: 0 20px;
}
.staff-management .staff-title .add-staff-btn{
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 30px;
    background-color: #0047AB;
    color: white;
    border: none;
}
.staff-info-group{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.staff-info-group .staff-info-card{
    width: 430px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.staff-info-card .title{
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.staff-info-card .number{
    font-size: 16px;
    font-weight: bold;
    color: #0047AB;
}
.staff-management .staff-card-group{
    width: 95%;
    margin: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.staff-management .staff-card-group .staff-card{
    background-color: white;
    border: 1px solid #d4d4d4;
    width: 430px;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.staff-card .staff-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 170px;
    display: flex;
}
.staff-title .staff-img{
    width: 80px;
    height: 80px;
    border: 1px solid #d4d4d4;
    border-radius: 50%;
}
.staff-title .staff-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.staff-name-status-role{
    display: block;
    align-items: center;
}
.staff-name-status-role .staff-name{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: #333333;
}
.staff-name-status-role .staff-role, .staff-status{
    font-size: 10px;
    color: #ffffff;
    display: inline-block;
    margin-top: 5px;
    background-color: #457fd1;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 5px;
}
.staff-contact-info {
    color: #333333;
    padding: 10px;
    font-size: 14px;
}
.staff-card-btn{
    margin-top: 10px;
    padding: 10px;
    display: flex;
}
.deactivate-staff-btn {
    background-color: #0047AB;
    color: white;
    padding:  5px 80px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.edit-staff-btn, .delete-staff-btn {
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
}
.edit-staff-btn {
    background: #fff;
    border: 1px solid #ddd;
}
.delete-staff-btn {
    background: #fff0f0;
    border: 1px solid #ffb3b3;
}
.add-staff-btn:hover, .deactivate-staff-btn:hover,.edit-staff-btn:hover {
    background-color: #457fd1;
}
.delete-staff-btn:hover {
    background-color: #ffb3b3;
}
.add-staff-btn:active, .delete-staff-btn:active, .deactivate-staff-btn:active,.edit-staff-btn:active {
    box-shadow:0 0 10px #4e4545;
}
